* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --bg-color : #202020
}

html{
  font-size: 62.5%;
  font-family: '';
}

body{
  background-color: black;
}

h1,
h2,
h3,
h4,
h5{
  color: #fff;
}

p,
li,
a,
button{
  font-size: 1.7rem;
  letter-spacing: 0.1rem;
  line-height: 1.6;
  color: #fff;
}

li{
  list-style: none;
}

a{
  color: black;
&:hover{
color: #2e86c1;
}
}

button{
  display: flex;
  gap:1.2rem;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.5;
  cursor: pointer;
  padding: 0.6rem 2.4rem;
  text-align: center;
  outline:none;
  border: none;
  text-transform: unset;
  transition: all 0.3s ease-in-out;
  background: #202020;
  color: #fff;
  border-radius: 1.5rem;
  /*this doesn't  work*/
  border-width:0.1rem;
  border-style: solid ;
  -webkit-border-radius: 1.5 rem ;
  -moz-border-radius:1.5 rem;
  -ms-border-radius :1.5rem;
  -o-border-radius: 1.5rem;
  margin-top: 1.6rem;
}

/*layout */

.container{
  max-width: 140rem;
  margin:auto;
}
