.primary_btn{
 
  display: flex;  
  align-items: center;
  gap: 8px;
  background-color: black;
  color: white;
   padding: 18px 10px;
  border-radius: 5px;
  min-width: 220px;
  font-size: 16px;
  justify-content: center;
  cursor: pointer;
}

.outline_btn{
  display: flex;  
  align-items: center;
  gap: 8px;
  background-color:white;
  color: black;
   padding: 18px 10px;
  border: 1px solid black;
  min-width: 220px;
  font-size: 16px;
  justify-content: center;
  width: 50%;
  cursor: pointer;
}

